# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Unwanted
.idea
.DS_Store

# Build files
# dist # TEMP: disabling so that I can install this while I'm waiting for a release
/test/**/output
